<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{=URL('static', 'css/addAccount.css')}}"/>
</head>
<body>
    <a href="{{=URL('seeAllAccounts')}}" class="seeallaccountsbtn">See all Accounts</a>

<form action="{{=URL('store')}}" method="post">

  <div class="container">


    <h1>Awal's Management System</h1>
    <hr>

      <label for="account name"><b>Account Name</b></label>
      <input type="text" name="accountname">

    <label for="account number"><b>Account Number</b></label>
    <input type="numbers" name="accountnumber">

    <label for="bankname"><b>Bank Name</b></label>
    <input type="text" name="bankname">

    <label for="bankbranch"><b>Bank Branch</b></label>
    <input type="text" name="bankbranch">
    <hr>

    <button type="submit" class="addaccountbtn">Add Account</button>


  </div>

</form>
</body>
</html>