<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{=URL('static', 'css/edit.css')}}"/>
	
</head>
<body>
<form method="POST" action="">
	<div>
	  <label for="accountname">Account Name</label>
	  <input type="text" name="accountname" required>
	</div>
	<div>
	  <label for="accountnumber">Account Number</label>
	  <input type="text" name="accountnumber" required>
	</div>
	<div>
	  <label for="bankname">Bank Name</label>
	  <input type="bankname" name="bankname" required>
	</div>
	<div>
	  <label for="bankbranch">Bank Branch</label>
	  <input type="bankbranch" name="bankbranch" required>
	</div>
	<div>
	  <label for="id">ID</label>
	  <input type="number" name="id" required>
    </div>
    <div>
      <input type="submit" value="Update Account"
    </div>
</form>
</body>
</html>
    